.h1{
    text-align: center;
}
.container {
    background-color: black;
    color: white;
    max-width: 400px;
    margin: 1vh auto 0 auto;
    border: 30px solid powderblue;
    border-radius: 3px;
}
#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}
.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}
.button {
   border: 3px solid green;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}


.button:hover {
     background-color: grey;
    color: white;
    transition: 0.5s ease-in-out;
}
